@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }
  /*Feature*/
  .customers-description {
    width: 396px;
  }
  .customers.link {
    width: 190px;
  }
  .customers-icon {
    width: 190px;
  }
}
